@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
	background-image: url("../nordic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed; /* Paralax */
	min-height: 100vh;
	color: #ffff;
}
.background-blur {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../nordic.jpg");
	background-size: cover;
	background-position: center;
	filter: blur(8px);
	z-index: -1;
}
.box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.search {
	margin-top: 1rem;
	color: #ffff;
	width: 100%;
	max-width: 30rem;
	box-sizing: border-box;
}
input:focus {
	outline: none;
}
.city-list {
	position: absolute;
	top: 4.5rem; /* dopasuj wg wysokości inputa */

	width: 100%;
	max-width: 30rem;
	box-sizing: border-box;
	z-index: 1000;
}
.city-list li {
	list-style-type: none;
	border-bottom: 1px solid #c7bcbc;
}

.weather-display-box {
	margin-top: 1rem;

	width: 100%;
	max-width: 30rem;
	box-sizing: border-box;
	z-index: 1;
}
.weather-display {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.weather-display .name {
	font-size: 2rem;
}
.weather-display .temp {
	padding: 3rem 0 1rem 0;
	font-size: 3.5rem;
}
.weather-display p {
	margin: 0;
}
.weather-display .w-codes {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1rem;
}

.glass-effect {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	padding: 1rem;
}
