@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
	background-color: black;
	min-height: 100vh;
	color: #ffff;
}
.background-blur {
	position: fixed;
	inset: 0;
	z-index: -1;
	background-image: url("../nordic.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed; /* Paralax */
	filter: blur(8px);
}
/* przyciemnienie */
.background-blur::after {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.2);
}
.box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0.4rem;
	min-height: 100vh;
}
.CitySearch-wrapper {
	/* 	width: 100%; */
	display: contents;
}

.search-wrapper {
	margin-top: 1rem;
	width: 100%;
	max-width: 30rem;
	display: flex; /* ułóż input i przycisk obok siebie */
	align-items: center; /* wyrównaj je pionowo */
}
.search {
	height: 3.1rem;
	border-radius: 1.1rem 0 0 1.1rem;
	color: #ffff;
	width: 90%;
	max-width: 27rem;
	box-sizing: border-box;
}
.btn-search {
	height: 3.1rem;
	width: 10%;
	color: #ffff;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 0 1rem 1rem 0;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	padding: 1rem;
}
.btn-search:hover {
	cursor: pointer;
}
input:focus {
	outline: none;
	box-shadow: none;
	border-color: none;
}

.search-wrapper:hover {
	transform: scale(1.03);
}
input::placeholder {
	color: #fff;
	opacity: 0.5;
}

.city-list {
	position: absolute;
	top: 4.5rem; /* dopasuj wg wysokości inputa */
	width: 100%;
	max-width: 30rem;
	box-sizing: border-box;
	z-index: 1000;
	border-radius: 1.1rem;
}
.city-list li {
	list-style: none;
	border-bottom: 1px solid #c7bcbc;
	padding: 0.3rem;
	cursor: pointer;
	padding-left: 1rem;
}
.city-list ul {
	padding: 0;
	margin: 0;
}
li,
input,
.search-wrapper:hover,
.btn-clear:hover {
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.start {
	height: 100%;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.logo,
.app-name {
	padding: 0;
	margin: 0;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}
.start-text {
	margin-top: 1rem;
}

.weather-display-box {
	margin-top: 1rem;
	width: 100%;
	max-width: 30rem;
	box-sizing: border-box;
	z-index: 1;
	align-self: center;
	border-radius: 1.1rem;
}
.weather-display {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem 0 2rem 0;
}
.weather-display .name {
	font-size: 2rem;
}
.weather-display .temp {
	padding: 3rem 0 1rem 0;
	font-size: 3.5rem;
}
.weather-display p {
	margin: 0;
}
.weather-display .w-codes {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1rem;
}
.btn-clear {
	margin-top: 2rem;
	background-color: transparent;
	border: none;
	font-size: 1.5rem;
}

.btn-clear:hover {
	transform: scale(1.2);
}

/* Glass effect */
.glass-effect {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	padding: 1rem;
}

/* List item pop-out */

li:hover {
	transform: scale(1.03);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	border-radius: 1.1rem;
}
